doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    script(type='text/javascript', src='/javascripts/home.js')
  body
    block content
    header
        img(src="images/name.png", alt="...", class="name-image")
        a( href="/home",class="box",class="fill-div")
            p(class="home") Home
    h1(class = "title") My Journey So Far
              p 6200 MMR (Top 1%) Immortal
    footer="Contact"
      a(class="box")
        p Email georgstt@gmail.com
