doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    script(type='text/javascript', src='/javascripts/home.js')
  body
    block content
    header
        img(src="images/name.png", alt="...", class="name-image")
        div
          a( href="/home",class="box",class="fill-div")
            p(class="home") Home
    h1(class = "title") My Journey So Far
      p(class="para") Kings High School Digital Technology Excellence Endorsement Lvl 3
      p(class="para") University Of Otago Bachelors Of Science in Computer Science
        div
          img(src="images/cert.jpg", alt="...", class="images")
    footer="Contact"
      a(class="box")
        p 
        p Email georgstt@gmail.com
